@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

header {
  background-image: -webkit-linear-gradient(
      200deg,
      rgba(237, 235, 235, 0.08167016806722693) 0%,
      rgba(22, 21, 21, 0.8891491596638656) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../images/banner.png");

  background: linear-gradient(
      260deg,
      rgba(237, 235, 235, 0.08167016806722693) 0%,
      rgba(22, 21, 21, 0.8891491596638656) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../images/banner.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 80%;

  nav {
    @extend %wrap;
    @extend %section;
  }

  .heading {
    @extend %content-wrap;
    color: var.$text-color-base;

    @include mix.tablet-styles {
      width: 80%;
    }
  }

  .logo {
    width: 120px;
    margin-bottom: var.$gutter-base;
  }

  .button {
    @extend %button;
  }

  p {
    margin-top: var.$gutter-medium;

    i {
      color: var.$btn-hover;
    }
  }
}
