@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.programs {
  @extend %section;

  .card-container {
    @include mix.flex-container($flex-direction: row, $align-items: stretch);

    @include mix.mobile-l-styles {
      flex-direction: column;
    }

    .card {
      @include mix.card($width: calc(33.333% - var.$gutter-base));

      @include mix.mobile-l-styles {
        width: 100%;
      }

      p {
        margin-top: var.$gutter-medium;
      }
    }
  }
}
